{% extends 'base.html' %}



{% block content %}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row mt-5 mb-5 p-5 shadow rounded border border-primary w-75"  style="background-image: url(https://i.redd.it/d938zppo4mxa1.jpg);">
        <div class="col">
            
          
           
            <h3 style="color: white;">Lets find out whats the homeworld of your Favorite Character!</h3>
            {% include 'productform.html' %}
        </div>
    </div>
</div>


{% endblock content %}